:root {
    --header-footer-color: #1f240a;
    --main-color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    background-color: blue;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header, footer {
    min-height: 50px;
    background-color: var(--header-footer-color);
    color: whitesmoke;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 600px) {
    body {
        background-color: darkred;
    }
}

/* Adjust styles for medium-sized screens */
@media screen and (min-width: 601px) and (max-width: 1200px) {
    body {
        background-color: darkgreen;
    }
}

/* Adjust styles for larger screens */
@media screen and (min-width: 901px) {
    body {
        background-color: var(--main-color);
    }
}

.test {
    width: 100px;
    height: 200px;
    background-color: #efd8a1;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 2px rgba(136, 136, 136, 0.432);
}