:root {
    --header-footer-color: #2f2d2b;
    --main-color: #272322;
    --project-card-width: 400px;
    --project-card-height: 350px;
    color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 40px;
}

header, footer {
    min-height: 50px;
    background-color: var(--header-footer-color);
}

header {
    display: flex;
    justify-content: center;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 600px) {
    body {
        background-color: darkred;
    }
}

/* Adjust styles for medium-sized screens */
@media screen and (min-width: 601px) and (max-width: 1200px) {
    body {
        background-color: darkgreen;
    }
}

/* Adjust styles for larger screens */
@media screen and (min-width: 901px) {
    body {
        background-color: var(--main-color);
    }
}

.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-info-container {
    padding: 10px;
}

.project-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
}


.project {
    min-width: 100px;
    max-width: var(--project-card-width);
    min-height: 100px;
    height: var(--project-card-height);
    background-color: #453e3c;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}